[tool.poetry]
name = "dijkstra-bgl"
version = "0.2.0"
description = ""
authors = ["Simon Boivin <sboivin@systra.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
pybind11 = "^3.0.1"


[build-system]
requires = ["setuptools>=42", "wheel", "pybind11"]
build-backend = "setuptools.build_meta"
