name: build-linux

on:
  push:
    branches: ["deploy"]
  workflow_dispatch:

jobs:
  build-ubuntu:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v5


      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' # <-- Ensure the tooling is 3.11 or newer

      - name: Install build dependencies
        run: |
          pip install cibuildwheel

      - name: Build wheel with cibuildwheel
        env:
          # Install Boost inside manylinux container
          CIBW_BEFORE_ALL_LINUX: |
            yum install -y boost-devel
        run: |
          python -m cibuildwheel --output-dir wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: bgl-wheels-${{ matrix.os }}
          path: wheelhouse/*.whl
