name: Build Windows Wheels

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    # Run on all three major OSes
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5

      - name: Install cibuildwheel
        run: pip install cibuildwheel==2.16.0

      # This single step runs all builds configured in pyproject.toml
      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-wheels
          path: wheelhouse/*.whl